*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/48/bd/e8/48bde8be878d2884cad9d5dc54b2bdc8.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}